* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    border: 5px solid #E1BEE7;
    background-color: #FFF1FF;
    display: grid;
    gap: 15px;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 150px;
    height: 600px;
    place-content: center end;
    align-items: start;
}

.item {
    border: 5px solid #00BCD4;
    font-size: 4rem;
}

.item-2 {
    justify-self: center;
}